*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

html body{
    max-width: 100%;
    max-height: 100%;
}

main{
    width: 100%;
    overflow-x: hidden;
}

body{
    background: #166e80 ;
    overflow-x: hidden;
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/cmd_profil.png);
    background-size: cover;
    background-position: center;
}

.top-contents{
    padding: 15px 20px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    z-index: 100;
}

nav img{
    height: 80px;
    width: 200px;
}

.list-skill >* {
    display: inline-block;
    margin: 15px 20px;
    font-size: 20px;
}

.presentation{
    margin-top: 400px;
}

.presentation h1{
    margin-top: 290px;
    margin-bottom: 10px;
}

.presentation p{
    font-size: 20px;
    font-weight: bold;
}

.presentation span{
    color:rgb(13, 6, 91);
    font-family: Arial, Helvetica, sans-serif;
}

.list-skill img{
    height: 20px;
    width: 20px;
}

.top-contents nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkorange;

}

.contents{
    margin-top: 1px;
}

/*---------- About Me section -------------------*/

.grid-item{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1px;
    margin-bottom: 50px;
}



.second-col p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.second-col p span{
    font-weight: bold;
}

.personal-info{
    margin-right: 25px;
    position: relative;
}

.personal-info nav{
    display: flex;
}

.personal-info nav p{
    font-weight: bold;
    cursor: pointer;
    color: rgb(6, 65, 33);
}

.info-contents{
    position: relative;
}


.info-contents ul li{
    list-style: none;
    margin: 10px;
}


.info-contents ul span{
    color: #070421;
    font-weight: bold;
}

.common{
    display: none;
}

.common.content-activated{
    display: block;
}



.img{
    height: 15px;
    width: 15px;
}

.buttons{
    height: 50px;
    width: 100px;
    font-weight: bold;
}

.buttons:hover{
    color: gold;
    background-color: gray;
}



#project-contents{
    border:none;
    height: 600px;
    width: 100%;
    display: block;
    justify-content: center;
    margin-bottom: 25px;
}

.first{
    height: 500px;
    background-color: white;
}

.second{
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.second > *{
    height: 40px;
    width: 70px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 25%;
    margin-top: 25px;
}

#back{
    margin-left: 300px;
    color: white;
    background-color: #54030f;
}

#next{
    margin-right: 300px;
    color: white;
    background-color: #075212;
}

#contact-contents{
    height: 400px;
    width: 100%;

    margin-top: 50px;
    padding-left: 20px;
    margin: 20px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
        
}

.call form{
    height: 400px;
    width: 600px;
    
}

.message{
    border: none;
}

.call form input{
    height: 40px;
    width: 400px;
    padding-left: 20px;
    border: 1px solid rgb(225, 65, 212);
}

.call form textarea{
    height: 100px;
    width: 400px;
    padding-left: 20px;
    border: 1px solid rgb(225, 65, 212);
}

.call form button{
    height: 40px; 
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid rgb(8, 129, 109);
    border-radius: 50px;
    cursor: pointer;
}

.form-contents{
    
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contacts button{
    height: 40px; 
    width: 100px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 15px;
    background-color: #12dbd5;
}

#contacts button:hover, .call form button:hover{
    background-color: yellowgreen;
}

#contacts img{
    height: 30px;
    width: 50px;
}

#project-contents h1{
    text-align: center;
    margin-bottom: 10px;
}

